*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #2e2b2b;
}
li{
    list-style: none;
}
span{
    color: orange;
}

/* navbar section */
 
#header{
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
    background-color: #E3E6F3 ;
    position: sticky; 
    top: 0;
    left: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}
.logo{
    color: rgb(73, 62, 47);
    font-size: 2.5rem;
    font-family:cursive;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navbar li{
    padding: 0 1rem;
}
#navbar li a{
    font-size: 1.1rem;
    font-weight: 600px;
}
#close{
    display: none;
    font-size: 1.5rem;
    color: #1a1a1a;
    font-weight: 700;
}

#mobile{
    display: none;
}
/* navbar end */

/* banar start  */
.banar{
    margin-top: 80px;
    max-width: 1300px;
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banar-content{
    padding-right: 8rem;
}
.banar-content h1{
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size:3rem;
    font-weight: 700;
    line-height: 70px;  
}
.banar-content p{
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 1rem; 
    font-weight: 600;
    padding-top: 1rem; 
}
.btn{
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 16px; 
    font-weight: 700; 
    border-radius: 41px;
    background: #E02C6D;
    border: none;
    outline: none;
    padding: 10px 20px;
    margin-top: 2rem;
    text-align: center;
}
.camera-img{
    border-radius: 50%;
    border: 3px solid   #F1E4FF;
    padding:1rem 2rem ;
}
.camera-img img{
    width: 100%;
}
/* banar end */

/* main section start */
main{
    max-width: 1300px;
}
/* different section */
.different-logo{
    margin: 60px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* popular collection start */
.Popular-Collection{
    margin: 60px 100px;
}
.Popular-Collection h1{
    text-align: center;
    font-size: 2rem;
    padding: 50px 0;
}
.popular-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}


.box-cart{
    width: 329px;
    padding: 20px 15px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.box-cart h3{ 
    font-family: Poppins;
    font-size: 28px; 
    font-weight: 500;
    line-height: 40px; 
    color: skyblue;
    /* background: linear-gradient(to top,#7ecdec,#a6d5e7);
    background-clip: text; */
    padding: 12px 0;
}
.box-cart .icons{
    color:  #FB8200 ;
    padding-bottom: 10px;
}
.box-cart .icons a{
    padding-left: 5px;
}
.box-cart p{
    color: #787885 ;
    font-family: Inter;
    font-size: 14px; 
    font-weight: 700;  
    letter-spacing: 0.252px;
    width: 80%;
}
/* popular end */
.gear-img{
    padding: 60px 100px;
    display: flex;
    align-items: center;
    gap: 60px;
}
.gear-content h2{
    padding: 15px 0;
    font-size: 2rem;
}
.btn-second{
     
        color: #FFF; 
        font-family: Poppins;
        font-size: 16px; 
        font-weight: 700; 
        border-radius: 10px;
        background: #E02C6D;
        border: none;
        outline: none;
        padding: 10px 20px;
        margin-top: 2rem;
        text-align: center;
    
}
/* Media quiry */
@media screen and (max-width:576px) {
    .logo{
        font-size: 2rem;
    } 
    #header{
        padding: 20px 40px;
    } 
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right:  -250px; 
        height: 100vh;
        width: 250px;
        background-color: #e3e6f3e5;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    } 
    #navbar.active{
        right: 0px;
     }
    #navbar li {
        margin-bottom: 25px;
    }  
    #mobile{
        display:flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 20px;
        padding: 10px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #1b1919;
        font-size: 18px;
    }
    #hide{
        display: none;
    }
    /* navabar  end */

    .banar{
        padding: 20px 40px;
        flex-direction: column-reverse;
    }
    .banar-content{
        padding-right: 0;
       width: 100%;
       text-align: center;
    }
    .banar-content h1{
        font-size:2.3rem;
        font-weight: 600;
        line-height: 3.5rem;  
    }
    /* header section end */

    /* main section start */
    .different-logo{
        margin: 60px 60px;
        padding-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    /* opular section */
    .Popular-Collection{
        margin: 60px 30px;
    }
     
    .popular-content{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        /* grid-template-columns: repeat(1,1fr);  */
    }
    .gear-img{
        padding: 50px 60px;
        flex-direction: column-reverse; 
    }
    .gear-content{
        text-align: center;
    }
}